.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-profile-pic {
    height: 30px;
    width: auto;

    border: 1px solid var(--black);
    border-radius: 100%;
}

.author-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    gap: 5px;
}
/* 
.authorpic-encloser {
    height: 30px;
} */

.author-category {
    border: 1px solid var(--black);
    width: fit-content;
    padding: 1px 5px;
}

.text-auth-seperator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.authortext-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}